body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
    background-color: black;
    color: aliceblue;
    
}
.Topnav {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 5px;
    margin-top: 20px;

}
.Topnav a {
    margin-right: 30px;
    margin-top: 10px;
}

.logo {
    position: fixed;
    left: 10px;
    width: 100px;
    height: 100px;
    background: none;
    
}

.About{
    height: 100vh;
    overflow: hidden;
    position: absolute;
    left:700px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.About p{
    margin-bottom: 10px;
}
#butn{
    position: absolute;
    left:720px;
    margin-top: 380px;
    border-radius: 10px;
    padding: 15px;
    background-color: black;
    color: aliceblue;
    border: none;

}

 #image {
    width: 250px; 
    height: 400px;
    position: absolute;
    left: 200px;
    margin-top: 100px;
    border-radius: 10px;
    
/* } 
.container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px; /* Adjust as needed */
} */
/* 
.About,.Education{padding: 50px;} */

.container{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
}



.Education{
    min-width: 100vh;
    
    /* position: absolute;
    bottom: 0;
    margin-top: 100px;
    left: 0;
    width: 100%;
    
    padding: 50px; */
    
    
    
    
}
.Education, h1{
    padding: 0;
    margin-top: 100px;
    margin-right: 20px;
    width: 100%;

}
.Education,#uni_ediucation{

    left: 180px;
}


#uni_education,.Skills{
   position: absolute;
   bottom: 0;
   left: 20px ;
   width: 100%; 
   

}
.Skills{
    padding: -25px;
    margin-top: 300px;
}


